/* Define um tema geral com cor de texto branca e cor de fundo azul acinzentado */
.w3-theme {
    color: #ffff !important;
    background-color: #5D6D7E !important;
}

/* Adiciona uma borda à esquerda para destacar blocos de código */
.w3-code {
    border-left: 4px solid #9FC2E8;
}

/* Define a cor do texto para navegadores Internet Explorer específicos */
.w3-text-IE {
    color: #384655 !important;
}

/* Adiciona margem inferior para elementos com a classe myMenu */
.myMenu {
    margin-bottom: 150px;
}

/* Esconde o elemento com o ID Imagem */
#Imagem {
    display: none;
}

/* Define as dimensões da imagemSelecionada com largura de 20% e altura automática */
#imagemSelecionada {
    width: 20%;
    height: auto;
}
